<table {% if id %}id="{{ id | safe }}"{% endif %}>
    <tr><th>Scope</th><th>Description</th></tr>
    {% for def in defs -%}
    <tr><td>{{ def.key }}</td><td>{{ def.description }}</td>
    {%- endfor %}
</table>
